# Title

# Imports

In [11]:
import pandas as pd
import numpy as np

# Read Scenery Dataset

In [2]:
#read the pfac data, which shows the actuall police control area of the county
pfac = pd.read_csv('../data/PFAC.csv')

#read the scenery data 
df = pd.read_csv('scenery.csv', encoding = "ISO-8859-1")
print('Size of the dataset: ' + str(df.shape[0]))

#switch the colomns and rows for pfac data
pfac = pfac.transpose()
pfac.reset_index(inplace = True)

#reset the header of the pfac data
new_header = pfac.iloc[0]
pfac = pfac[1:]
pfac.columns = new_header

print(pfac.shape[1])

Size of the dataset: 212155
43

In [3]:
#find the county
def matchCounty(area):
    for i in pfac.columns:
        if area in list(pfac[i]):
            return i
    return np.nan

# Find Counties represented in dataset

In [4]:
#the unique
len(df['County'].unique())

214

In [5]:
df['County'].unique()

array(['Gloucestershire', 'Cheshire', 'Isle of Man', 'Conwy',
       'North Yorkshire', 'Flintshire/Sir y Fflint', 'Hampshire',
       'Wokingham', 'West Berkshire', 'Kent', 'Poole', 'Dorset',
       'Windsor And Maidenhead', 'Surrey', 'Bracknell Forest',
       'Hertfordshire', 'Bedfordshire', 'Derbyshire', 'Great Britain',
       'Dumfries And Galloway', 'East Riding of Yorkshire',
       'Argyll And Bute', 'North Ayrshire', 'Lincolnshire',
       'Rhondda Cynon Taff/Rhondda Cynon Taf', 'Northamptonshire',
       'Highland', 'Worcestershire', 'Nottinghamshire', 'Northumberland',
       'Na h-Eileanan an Iar', 'Cornwall', 'Pembrokeshire/Sir Benfro',
       'West Sussex', 'Gwynedd', 'Cumbria', 'Devon', 'Essex',
       'The Vale of Glamorgan/Bro Morgannwg', 'Staffordshire',
       'Redcar And Cleveland', 'Scottish Borders', 'Manchester',
       'Suffolk', 'Salford', 'Wirral', 'Bath And North East Somerset',
       'Lancashire', 'County Durham', 'Tameside', 'Warwickshire',
       'Cambridgeshire', 'Birmingham', 'Rutland', 'Shetland Islands',
       'Somerset', 'Warrington', 'Shropshire', 'Perth And Kinross',
       'Aberdeenshire', 'Oxfordshire', 'Angus', 'Bury', 'Wiltshire',
       'South Lanarkshire', 'Moray', 'Isle of Anglesey/Sir Ynys Mon',
       'Buckinghamshire', 'Leeds', 'Stirling', 'Milton Keynes',
       'Solihull', 'Derby', 'Leicestershire', 'Wakefield',
       'Orkney Islands', 'North Tyneside', 'Powys',
       'South Gloucestershire', 'East Lothian', 'Southampton',
       'North Lanarkshire', 'Clackmannanshire', 'East Sussex',
       'South Tyneside', 'Isle of Wight', 'Fife', 'Telford And Wrekin',
       'Midlothian', 'Herefordshire', 'East Ayrshire', 'South Ayrshire',
       'Dundee', 'Carmarthenshire/Sir Gaerfyrddin', 'Reading',
       'Portsmouth', 'Torbay', 'Plymouth', 'Falkirk',
       'Ceredigion/Sir Ceredigion', 'North Lincolnshire', 'Aberdeen',
       'Enfield', 'Norfolk', 'Middlesbrough', 'York', 'Bradford',
       'Waltham Forest', 'Sandwell', 'East Renfrewshire',
       'Isles of Scilly', 'Bridgend/Pen-y-Bont ar Ogwr', 'Darlington',
       'Hartlepool', 'West Lothian', 'Renfrewshire',
       'Monmouthshire/Sir Fynwy', 'Newcastle Upon Tyne',
       'Stockton-on-Tees', 'Richmond Upon Thames', 'Harrow', 'Ealing',
       'Havering', 'Coventry',
       'Neath Port Talbot/Castell-Nedd Port Talbot', 'Swansea/Abertawe',
       'Greenwich', 'Redbridge', 'Hillingdon', 'St Helens', 'Knowsley',
       'Kingston Upon Thames', 'Wandsworth', 'Hounslow', 'Sutton',
       'Trafford', 'Merton', 'Bolton', 'Thurrock', 'Rochdale', 'Medway',
       'Denbighshire/Sir Ddinbych', 'Barnet', 'Slough', 'Calderdale',
       'Ceredigion', 'Croydon', 'Merthyr Tydfil/Merthyr Tudful',
       'North Somerset', 'Edinburgh', 'Peterborough', 'Cardiff/Caerdydd',
       'Inverclyde', 'Brent', 'Wigan', 'East Dunbartonshire', 'Sefton',
       'Stoke-on-Trent', 'Sheffield', 'Blackburn With Darwen', 'Bromley',
       'Barnsley', 'Glasgow', 'Stockport', 'Blackpool',
       'Barking And Dagenham', 'Liverpool', 'Bournemouth', 'Kirklees',
       'Gateshead', 'Halton', 'Oldham', 'Doncaster', 'Wrexham/Wrecsam',
       'Brighton And Hove', 'Bexley', 'Lewisham', 'Denbighshire',
       'Rotherham', 'North East Lincolnshire', 'Bristol',
       'Newport/Casnewydd', 'Caerphilly/Caerffili', 'Sunderland', 'Luton',
       'Swindon', 'Carmarthenshire', 'Southend-on-Sea', 'Newham',
       'Walsall', 'Blaenau Gwent', 'Haringey', 'Hackney', 'Pembrokeshire',
       'Isle of Anglesey', 'West Dunbartonshire', 'Durham',
       'Torfaen/Tor-Faen', 'Wolverhampton', 'Dudley', 'Lambeth',
       'Nottingham', 'Southwark', 'Leicester', 'Kingston Upon Hull',
       'Camden', 'The Vale of Glamorgan', 'City of Edinburgh',
       'Tower Hamlets', 'Hammersmith And Fulham',
       'Kensington And Chelsea', 'Westminster', 'Islington',
       'City of London'], dtype=object)

In [6]:
df['County'] = df['County'].apply(matchCounty)
len(df['County'].unique())

44

In [7]:
sum(df['County'].isnull())

65530

In [8]:
df['County'].unique()

array(['Gloucestershire', 'Cheshire', nan, 'North Wales',
       'North Yorkshire', 'Hampshire', 'Thames Valley', 'Kent', 'Dorset',
       'Surrey', 'Hertfordshire', 'Bedfordshire', 'Derbyshire',
       'Humberside', 'Lincolnshire', 'South Wales', 'Northamptonshire',
       'West Mercia', 'Nottinghamshire', 'Northumbria',
       'Devon and Cornwall', 'Sussex', 'Cumbria', 'Essex',
       'Staffordshire', 'Greater Manchester', 'Suffolk', 'Merseyside',
       'Avon and Somerset', 'Lancashire', 'Durham', 'Warwickshire',
       'Cambridgeshire', 'West Midlands', 'Leicestershire', 'Wiltshire',
       'West Yorkshire', 'Dyfed-Powys', 'Metropolitan Police', 'Norfolk',
       'Cleveland', 'South Yorkshire', 'Gwent', 'City of London'],
      dtype=object)

In [9]:
#df['County'].head(100)

# Read Crime Datasets

In [34]:
number_crime = pd.read_csv('../data/number_crime.csv')
print(len(number_crime))
for c in number_crime.columns:
    print(c)

43
Area Name
Total recorded crime (excluding fraud)
Violence against the person
Homicide
Violence with injury
Violence without injury
Stalking and harassment
Death or serious injury - unlawful driving
Sexual offences
Robbery
Theft offences
Burglary
Residential burglary
Non-residential  burglary
Vehicle offences
Theft from the person
Bicycle theft
Shoplifting
Other theft offences
Criminal damage and arson
Drug offences
Possession of weapons offences
Public order offences
Miscellaneous crimes

In [181]:
number_crime

,Area Name,Total recorded crime (excluding fraud),Violence against the person,Homicide,Violence with injury,Violence without injury,Stalking and harassment,Death or serious injury - unlawful driving,Sexual offences,Robbery,...,Vehicle offences,Theft from the person,Bicycle theft,Shoplifting,Other theft offences,Criminal damage and arson,Drug offences,Possession of weapons offences,Public order offences,Miscellaneous crimes
0,Cleveland,"65,397","20,109",15,"5,858","7,474","6,754",8,"1,755",581,...,"4,333",510,993,"8,867","6,349","9,370","1,298",377,"3,836","1,372"
1,Durham,"62,393","23,908",5,"5,738","8,335","9,817",13,"1,885",242,...,"3,255",285,474,"4,862","5,357","9,585","1,269",290,"5,141","1,735"
2,Northumbria,"160,292","47,904",11,"13,352","19,982","14,522",37,"4,952",855,...,"8,406","1,421","2,027","14,081","16,832","22,742","3,344","1,392","23,401","3,728"
3,Cheshire,"94,201","32,600",19,"10,590","12,892","9,095",4,"3,195",416,...,"3,652",635,"1,577","7,084","7,712","10,162","2,180",532,"17,976","1,842"
4,Cumbria,"35,372","13,244",4,"4,860","5,472","2,903",5,"1,593",123,...,"1,174",197,296,"2,899","3,210","5,458","1,022",252,"3,084",717
5,Greater Manchester,"334,976","97,236",78,"28,581","45,640","22,905",32,"9,656","7,642",...,"31,669","7,351","4,061","17,352","32,096","35,821","4,981","3,542","45,151","8,262"
6,Lancashire,"162,819","62,273",21,"19,920","23,040","19,287",5,"5,131","1,097",...,"10,078","2,000","1,698","9,476","16,378","20,238","2,342",701,"14,938","3,241"
7,Merseyside,"134,164","43,752",21,"14,398","17,163","12,151",19,"3,188","1,462",...,"10,382","2,146","1,890","8,645","10,633","16,328","8,181","1,033","12,689","2,752"
8,Humberside,"98,311","32,747",17,"10,979","12,939","8,791",21,"3,175",973,...,"5,795",702,"2,246","10,356","8,460","12,809","1,374",509,"8,395","2,429"
9,North Yorkshire,"43,762","13,729",5,"5,469","5,478","2,741",36,"1,854",211,...,"2,460",483,"1,177","4,448","4,706","5,993","1,563",309,"2,210",812
10,South Yorkshire,"142,739","43,718",19,"14,291","13,108","16,273",27,"3,911","1,669",...,"12,607","2,086","1,163","10,834","14,326","18,045","2,490","1,377","12,632","3,837"
11,West Yorkshire,"291,573","102,172",39,"29,214","42,901","29,967",51,"8,564","3,830",...,"24,422","4,145","2,465","18,714","25,639","31,094","6,303","2,314","28,213","7,461"
12,Derbyshire,"59,162","16,562",4,"9,390","4,650","2,516",2,"2,039",640,...,"5,465",706,"1,030","5,851","6,472","7,872","2,237",593,"2,225","1,241"
13,Leicestershire,"87,167","25,327",10,"6,840","12,234","6,231",12,"2,354","1,019",...,"9,347","1,232","2,124","6,647","9,234","10,300","1,867",740,"6,638","1,923"
14,Lincolnshire,"48,582","14,822",5,"5,716","6,220","2,873",8,"1,907",334,...,"3,030",284,"1,038","5,524","5,058","6,084","1,778",525,"2,767","1,095"
15,Northamptonshire,"58,632","18,973",12,"7,206","8,596","3,157",2,"2,105",817,...,"7,466",595,902,"4,104","5,630","6,619","1,577",614,"2,249","1,118"
16,Nottinghamshire,"104,112","30,954",14,"13,601","9,475","7,857",7,"3,488","1,225",...,"9,153","1,401","1,904","10,983","11,511","12,129","3,259",954,"6,807","2,370"
17,Staffordshire,"84,765","30,743",9,"10,886","10,766","9,069",13,"3,247",972,...,"5,668",484,"1,233","7,414","9,238","10,971","1,816",801,"4,258","1,888"
18,Warwickshire,"41,304","12,833",6,"4,440","5,308","3,075",4,"1,281",451,...,"4,907",462,729,"3,422","4,416","4,520",839,412,"2,194",723
19,West Mercia,"84,554","29,801",15,"9,778","12,263","7,717",28,"3,456",584,...,"5,623",911,"1,122","7,713","9,052","10,037","2,024",809,"4,249","1,515"
20,West Midlands,"252,689","70,507",50,"30,561","24,861","15,002",33,"7,016","8,107",...,"37,250","3,230","3,058","18,774","24,763","25,695","4,558","2,281","13,918","3,682"
21,Bedfordshire,"55,173","14,666",7,"4,833","6,242","3,569",15,"1,611",797,...,"7,722",774,"1,296","3,966","5,466","6,101","1,343",415,"3,601",975
22,Cambridgeshire,"63,678","17,019",11,"5,081","8,950","2,953",24,"1,929",761,...,"6,084","1,015","4,228","5,041","7,315","7,491","1,325",534,"4,177","1,330"
23,Essex,"151,103","52,611",13,"14,316","20,074","18,166",42,"4,003","1,667",...,"15,204","1,529","2,254","10,721","13,579","15,910","3,743","2,099","12,222","3,285"
24,Hertfordshire,"85,371","25,066",13,"8,726","11,253","5,047",27,"2,289",855,...,"9,059","1,380","1,444","8,607","8,775","9,216","3,148",715,"6,466","1,777"
25,Norfolk,"58,972","21,006",6,"6,876","9,990","4,120",14,"2,520",474,...,"2,778",500,"1,242","4,151","5,639","7,083","2,300",580,"5,496","1,675"
26,Suffolk,"54,124","18,726",7,"5,637","8,286","4,790",6,"2,260",462,...,"3,620",553,"1,116","4,148","4,729","6,520","1,290",450,"5,075","1,064"
27,City of London,"6,921","1,150",1,461,524,164,0,106,104,...,246,683,455,902,"1,680",232,425,72,412,129
28,Metropolitan Police,"835,078","210,644",140,"76,904","84,909","48,642",49,"20,475","33,103",...,"112,655","42,850","19,487","43,743","114,092","56,537","35,474","7,401","48,281","9,876"
29,Hampshire,"159,487","55,319",14,"21,387","24,199","9,695",24,"5,623","1,260",...,"12,760","1,272","3,815","12,969","13,559","18,549","3,682","1,621","14,894","2,650"
30,Kent,"197,085","77,559",17,"20,522","35,995","20,958",67,"7,182","1,851",...,"12,993","1,063","1,744","12,700","16,994","22,359","3,043","1,335","21,115","5,305"
31,Surrey,"74,745","22,558",1,"7,198","10,376","4,964",19,"2,349",440,...,"6,273",565,"1,237","4,347","9,080","9,457","2,853",585,"7,526","1,564"
32,Sussex,"114,049","37,795",30,"13,676","16,950","7,125",14,"4,154","1,053",...,"8,251","1,490","2,204","7,983","12,608","13,767","3,483","1,598","10,203","2,283"
33,Thames Valley,"162,070","46,311",17,"15,711","22,168","8,396",19,"5,453","1,602",...,"17,093","2,965","5,581","14,256","20,782","19,104","5,065","1,419","6,848","3,308"
34,Avon and Somerset,"135,955","42,450",15,"12,804","17,830","11,798",3,"4,205","1,447",...,"10,606","1,132","3,420","10,663","13,592","15,487","2,876",782,"17,450","1,779"
35,Devon and Cornwall,"106,616","40,929",19,"15,662","15,097","10,110",41,"4,547",601,...,"5,769",844,911,"7,725","10,742","14,527","3,982",932,"7,151","2,195"
36,Dorset,"53,099","17,950",3,"6,186","7,667","4,087",7,"1,897",376,...,"3,812",493,"1,360","4,046","6,417","6,861","1,609",323,"3,003",682
37,Gloucestershire,"35,292","9,443",8,"5,173","2,251","2,004",7,"1,085",368,...,"4,084",395,980,"3,373","3,865","4,456",959,246,"1,413",442
38,Wiltshire,"42,483","13,925",2,"5,701","5,840","2,380",2,"1,646",338,...,"2,895",347,826,"4,300","4,479","5,709","1,044",305,"2,710",737
39,Dyfed-Powys,"26,694","9,780",5,"3,039","4,016","2,720",0,925,62,...,902,79,159,"1,938","3,089","4,042","1,816",179,"1,651",557
40,Gwent,"56,497","18,971",4,"5,753","7,140","6,071",3,"1,457",281,...,"3,338",364,369,"3,633","4,742","9,121","1,390",214,"7,621","1,362"
41,North Wales,"58,184","23,239",6,"7,076","10,061","6,094",2,"3,091",214,...,"2,214",205,543,"4,204","5,131","7,586","1,352",331,"5,018","1,262"
42,South Wales,"108,729","35,454",12,"12,143","11,540","11,741",18,"3,266",534,...,"7,774","1,089","2,025","10,495","10,183","12,787","4,197",667,"11,238","2,099"

In [155]:
rate1000_crime = pd.read_csv('../data/rate1000_crime.csv')
print(rate1000_crime.columns[16])
print(len(rate1000_crime))
for c in rate1000_crime.columns:
    print(c)

Residential burglary6,7,8
43
Area Name
Population figures
 (mid-2017)3  rounded to 100
Household figures
 (mid-2017)4  rounded to 100
Unnamed: 3
Total recorded crime (excluding fraud5)
Unnamed: 5
Violence against the person
Homicide
Violence with injury
Violence without injury
Stalking
and harassment
Death or serious injury - unlawful driving
Sexual offences
Robbery
Theft offences
Burglary
Residential burglary6,7,8
Residential burglary (households) 6,7,9
Non-residential burglary7,8
Vehicle offences
Theft from the person
Bicycle theft
Shoplifting
All other theft offences
Criminal damage and arson
Drug offences
Possession of weapons offences
Public order offences
Miscellaneous crimes against society

In [182]:
rate1000_crime

,Area Name,Population figures (mid-2017)3 rounded to 100,Household figures (mid-2017)4 rounded to 100,Unnamed: 3,Total recorded crime (excluding fraud5),Unnamed: 5,Violence against the person,Homicide,Violence with injury,Violence without injury,...,Vehicle offences,Theft from the person,Bicycle theft,Shoplifting,All other theft offences,Criminal damage and arson,Drug offences,Possession of weapons offences,Public order offences,Miscellaneous crimes against society
0,Cleveland,"566,200","241,400",NaN,115.5,NaN,35.5,0.0,10.3,13.2,...,7.7,0.9,1.8,15.7,11.2,16.6,2.3,0.7,6.8,2.4
1,Durham,"630,000","278,200",NaN,99.0,NaN,37.9,0.0,9.1,13.2,...,5.2,0.5,0.8,7.7,8.5,15.2,2.0,0.5,8.2,2.8
2,Northumbria,"1,448,600","637,000",NaN,110.7,NaN,33.1,0.0,9.2,13.8,...,5.8,1.0,1.4,9.7,11.6,15.7,2.3,1.0,16.2,2.6
3,Cheshire,"1,054,100","455,500",NaN,89.4,NaN,30.9,0.0,10.0,12.2,...,3.5,0.6,1.5,6.7,7.3,9.6,2.1,0.5,17.1,1.7
4,Cumbria,"498,400","224,200",NaN,71.0,NaN,26.6,0.0,9.8,11.0,...,2.4,0.4,0.6,5.8,6.4,11.0,2.1,0.5,6.2,1.4
5,Greater Manchester,"2,798,800","1,169,100",NaN,119.7,NaN,34.7,0.0,10.2,16.3,...,11.3,2.6,1.5,6.2,11.5,12.8,1.8,1.3,16.1,3.0
6,Lancashire11,"1,490,500","630,600",NaN,109.2,NaN,41.8,0.0,13.4,15.5,...,6.8,1.3,1.1,6.4,11.0,13.6,1.6,0.5,10.0,2.2
7,Merseyside,"1,416,800","621,900",NaN,94.7,NaN,30.9,0.0,10.2,12.1,...,7.3,1.5,1.3,6.1,7.5,11.5,5.8,0.7,9.0,1.9
8,Humberside,"929,900","402,900",NaN,105.7,NaN,35.2,0.0,11.8,13.9,...,6.2,0.8,2.4,11.1,9.1,13.8,1.5,0.5,9.0,2.6
9,North Yorkshire,"819,800","353,200",NaN,53.4,NaN,16.7,0.0,6.7,6.7,...,3.0,0.6,1.4,5.4,5.7,7.3,1.9,0.4,2.7,1.0
10,South Yorkshire,"1,393,400","586,100",NaN,102.4,NaN,31.4,0.0,10.3,9.4,...,9.0,1.5,0.8,7.8,10.3,12.9,1.8,1.0,9.1,2.8
11,West Yorkshire,"2,307,000","948,000",NaN,126.4,NaN,44.3,0.0,12.7,18.6,...,10.6,1.8,1.1,8.1,11.1,13.5,2.7,1.0,12.2,3.2
12,Derbyshire,"1,049,000","450,700",NaN,56.4,NaN,15.8,0.0,9.0,4.4,...,5.2,0.7,1.0,5.6,6.2,7.5,2.1,0.6,2.1,1.2
13,Leicestershire,"1,083,200","424,700",NaN,80.5,NaN,23.4,0.0,6.3,11.3,...,8.6,1.1,2.0,6.1,8.5,9.5,1.7,0.7,6.1,1.8
14,Lincolnshire,"751,200","323,100",NaN,64.7,NaN,19.7,0.0,7.6,8.3,...,4.0,0.4,1.4,7.4,6.7,8.1,2.4,0.7,3.7,1.5
15,Northamptonshire,"741,200","306,600",NaN,79.1,NaN,25.6,0.0,9.7,11.6,...,10.1,0.8,1.2,5.5,7.6,8.9,2.1,0.8,3.0,1.5
16,Nottinghamshire,"1,147,100","477,300",NaN,90.8,NaN,27.0,0.0,11.9,8.3,...,8.0,1.2,1.7,9.6,10.0,10.6,2.8,0.8,5.9,2.1
17,Staffordshire,"1,126,200","478,200",NaN,75.3,NaN,27.3,0.0,9.7,9.6,...,5.0,0.4,1.1,6.6,8.2,9.7,1.6,0.7,3.8,1.7
18,Warwickshire,"564,600","238,900",NaN,73.2,NaN,22.7,0.0,7.9,9.4,...,8.7,0.8,1.3,6.1,7.8,8.0,1.5,0.7,3.9,1.3
19,West Mercia,"1,272,600","537,500",NaN,66.4,NaN,23.4,0.0,7.7,9.6,...,4.4,0.7,0.9,6.1,7.1,7.9,1.6,0.6,3.3,1.2
20,West Midlands,"2,897,300","1,127,700",NaN,87.2,NaN,24.3,0.0,10.5,8.6,...,12.9,1.1,1.1,6.5,8.5,8.9,1.6,0.8,4.8,1.3
21,Bedfordshire,"664,600","262,900",NaN,83.0,NaN,22.1,0.0,7.3,9.4,...,11.6,1.2,2.0,6.0,8.2,9.2,2.0,0.6,5.4,1.5
22,Cambridgeshire,"847,200","339,200",NaN,75.2,NaN,20.1,0.0,6.0,10.6,...,7.2,1.2,5.0,6.0,8.6,8.8,1.6,0.6,4.9,1.6
23,Essex,"1,820,400","753,900",NaN,83.0,NaN,28.9,0.0,7.9,11.0,...,8.4,0.8,1.2,5.9,7.5,8.7,2.1,1.2,6.7,1.8
24,Hertfordshire,"1,180,900","480,700",NaN,72.3,NaN,21.2,0.0,7.4,9.5,...,7.7,1.2,1.2,7.3,7.4,7.8,2.7,0.6,5.5,1.5
25,Norfolk,"898,400","388,600",NaN,65.6,NaN,23.4,0.0,7.7,11.1,...,3.1,0.6,1.4,4.6,6.3,7.9,2.6,0.6,6.1,1.9
26,Suffolk,"757,000","324,500",NaN,71.5,NaN,24.7,0.0,7.4,10.9,...,4.8,0.7,1.5,5.5,6.2,8.6,1.7,0.6,6.7,1.4
27,City of London12,"7,700","3,700",NaN,+,NaN,+,+,+,+,...,+,+,+,+,+,+,+,+,+,+
28,Metropolitan Police,"8,817,300","3,477,000",NaN,94.7,NaN,23.9,0.0,8.7,9.6,...,12.8,4.9,2.2,5.0,12.9,6.4,4.0,0.8,5.5,1.1
29,Hampshire,"1,978,800","824,800",NaN,80.6,NaN,28.0,0.0,10.8,12.2,...,6.4,0.6,1.9,6.6,6.9,9.4,1.9,0.8,7.5,1.3
30,Kent,"1,832,300","757,400",NaN,107.6,NaN,42.3,0.0,11.2,19.6,...,7.1,0.6,1.0,6.9,9.3,12.2,1.7,0.7,11.5,2.9
31,Surrey,"1,185,300","471,900",NaN,63.1,NaN,19.0,0.0,6.1,8.8,...,5.3,0.5,1.0,3.7,7.7,8.0,2.4,0.5,6.3,1.3
32,Sussex,"1,692,800","735,700",NaN,67.4,NaN,22.3,0.0,8.1,10.0,...,4.9,0.9,1.3,4.7,7.4,8.1,2.1,0.9,6.0,1.3
33,Thames Valley,"2,391,700","945,100",NaN,67.8,NaN,19.4,0.0,6.6,9.3,...,7.1,1.2,2.3,6.0,8.7,8.0,2.1,0.6,2.9,1.4
34,Avon and Somerset,"1,695,000","716,600",NaN,80.2,NaN,25.0,0.0,7.6,10.5,...,6.3,0.7,2.0,6.3,8.0,9.1,1.7,0.5,10.3,1.0
35,Devon and Cornwall,"1,749,100","753,200",NaN,61.0,NaN,23.4,0.0,9.0,8.6,...,3.3,0.5,0.5,4.4,6.1,8.3,2.3,0.5,4.1,1.3
36,Dorset,"770,700","338,900",NaN,68.9,NaN,23.3,0.0,8.0,9.9,...,4.9,0.6,1.8,5.2,8.3,8.9,2.1,0.4,3.9,0.9
37,Gloucestershire,"628,100","267,200",NaN,56.2,NaN,15.0,0.0,8.2,3.6,...,6.5,0.6,1.6,5.4,6.2,7.1,1.5,0.4,2.2,0.7
38,Wiltshire,"716,400","299,600",NaN,59.3,NaN,19.4,0.0,8.0,8.2,...,4.0,0.5,1.2,6.0,6.3,8.0,1.5,0.4,3.8,1.0
39,Dyfed-Powys,"516,800","226,800",NaN,51.7,NaN,18.9,0.0,5.9,7.8,...,1.7,0.2,0.3,3.8,6.0,7.8,3.5,0.3,3.2,1.1
40,Gwent,"587,700","251,100",NaN,96.1,NaN,32.3,0.0,9.8,12.1,...,5.7,0.6,0.6,6.2,8.1,15.5,2.4,0.4,13.0,2.3
41,North Wales,"696,300","303,300",NaN,83.6,NaN,33.4,0.0,10.2,14.4,...,3.2,0.3,0.8,6.0,7.4,10.9,1.9,0.5,7.2,1.8
42,South Wales,"1,324,400","568,800",NaN,82.1,NaN,26.8,0.0,9.2,8.7,...,5.9,0.8,1.5,7.9,7.7,9.7,3.2,0.5,8.5,1.6

In [177]:
knife_crime = pd.read_csv('../data/knife_crime.csv')
knife_crime

,Area Name,TTOSSO:Number of offences involving a knife6,% involving a knife,murder_Number of offences involving a knife6,% involving a knife.1,Threats_Number of offences involving a knife6,% involving a knife.2,Assault_Number of offences involving a knife6,% involving a knife.3,Robbery_Number of offences involving a knife6,% involving a knife.4,Rape_Number of offences involving a knife6,% involving a knife.5,Homicide_Number of offences involving a knife6,% involving a knife.6
0,Cleveland,415,5.0,6.0,-,33.0,18,227,4.0,137,24.0,6.0,0.0,6.0,-
1,Durham,201,3.0,2.0,-,15.0,4,140,3.0,40,17.0,3.0,0.0,1.0,-
2,Northumbria7,887,5.0,7.0,-,61.0,9,597,4.0,205,24.0,13.0,0.0,4.0,-
3,Cheshire,377,3.0,4.0,-,39.0,7,225,2.0,100,24.0,5.0,0.0,4.0,-
4,Cumbria,153,3.0,1.0,-,6.0,9,120,2.0,23,19.0,3.0,0.0,0.0,-
5,Greater Manchester8,"3,614",8.0,30.0,25,263.0,11,"1,515",5.0,"1,728",23.0,69.0,1.0,9.0,13
6,Lancashire,"1,038",4.0,10.0,-,96.0,8,665,3.0,233,22.0,27.0,1.0,7.0,-
7,Merseyside,"1,231",7.0,12.0,-,75.0,11,699,5.0,421,29.0,18.0,1.0,6.0,-
8,Humberside,609,4.0,7.0,-,64.0,12,351,3.0,167,17.0,16.0,1.0,4.0,-
9,North Yorkshire,279,4.0,1.0,-,19.0,14,214,4.0,41,19.0,4.0,0.0,0.0,-
10,South Yorkshire,994,5.0,18.0,-,64.0,8,513,4.0,372,22.0,18.0,1.0,9.0,-
11,West Yorkshire,"2,715",6.0,8.0,-,503.0,13,"1,199",4.0,952,25.0,45.0,1.0,8.0,-
12,Derbyshire,581,5.0,6.0,-,61.0,13,356,4.0,147,23.0,11.0,1.0,0.0,-
13,Leicestershire,824,8.0,11.0,-,91.0,9,430,6.0,278,27.0,9.0,1.0,5.0,-
14,Lincolnshire,259,3.0,2.0,-,43.0,8,134,2.0,75,22.0,5.0,0.0,0.0,-
15,Northamptonshire,487,5.0,5.0,-,39.0,15,249,3.0,175,21.0,13.0,1.0,6.0,-
16,Nottinghamshire,889,5.0,5.0,-,96.0,8,423,3.0,340,28.0,18.0,1.0,7.0,-
17,Staffordshire,704,5.0,12.0,-,52.0,9,393,4.0,241,25.0,5.0,0.0,1.0,-
18,Warwickshire,257,4.0,4.0,-,31.0,19,120,3.0,98,22.0,2.0,0.0,2.0,-
19,West Mercia,495,4.0,13.0,-,79.0,13,275,3.0,107,18.0,17.0,1.0,4.0,-
20,West Midlands,"3,210",7.0,50.0,45,91.0,8,"1,258",4.0,"1,764",22.0,25.0,0.0,22.0,44
21,Bedfordshire9,451,6.0,7.0,-,34.0,9,238,5.0,166,21.0,1.0,0.0,5.0,-
22,Cambridgeshire9,383,5.0,7.0,-,43.0,6,185,4.0,136,18.0,8.0,1.0,4.0,-
23,Essex,677,3.0,15.0,-,73.0,9,285,2.0,291,17.0,7.0,0.0,6.0,-
24,Hertfordshire,490,4.0,4.0,-,65.0,11,219,3.0,180,21.0,14.0,1.0,8.0,-
25,Norfolk,286,3.0,2.0,-,26.0,5,152,2.0,94,19.0,8.0,0.0,4.0,-
26,Suffolk,208,3.0,2.0,-,23.0,10,109,2.0,62,13.0,8.0,0.0,4.0,-
27,City of London,65,10.0,0.0,-,1.0,-,38,8.0,26,25.0,0.0,0.0,0.0,-
28,Metropolitan Police,"14,660",11.0,75.0,-,748.0,17,"5,107",7.0,"8,487",26.0,169.0,1.0,74.0,-
29,Hampshire,822,3.0,9.0,-,69.0,12,439,2.0,285,23.0,12.0,0.0,8.0,-
30,Kent,925,3.0,6.0,-,117.0,10,509,2.0,273,15.0,13.0,0.0,7.0,-
31,Surrey10,60,1.0,0.0,-,9.0,2,43,1.0,7,2.0,0.0,0.0,1.0,-
32,Sussex11,301,2.0,3.0,-,29.0,4,151,1.0,109,10.0,5.0,0.0,4.0,-
33,Thames Valley,"1,483",6.0,9.0,-,117.0,8,799,5.0,502,31.0,48.0,1.0,8.0,-
34,Avon and Somerset,596,3.0,8.0,-,41.0,6,331,3.0,196,14.0,12.0,0.0,8.0,-
35,Devon and Cornwall,440,2.0,10.0,-,36.0,22,286,2.0,93,16.0,12.0,0.0,3.0,-
36,Dorset,240,3.0,8.0,-,29.0,13,123,2.0,77,20.0,2.0,0.0,1.0,-
37,Gloucestershire,310,5.0,3.0,-,39.0,19,176,4.0,84,23.0,5.0,1.0,3.0,-
38,Wiltshire,280,4.0,2.0,-,20.0,21,190,3.0,66,20.0,2.0,0.0,0.0,-
39,Dyfed-Powys,195,4.0,0.0,-,43.0,10,134,4.0,14,20.0,3.0,0.0,1.0,-
40,Gwent,136,2.0,4.0,-,22.0,4,81,1.0,22,8.0,6.0,1.0,1.0,-
41,North Wales,298,3.0,0.0,-,27.0,14,217,3.0,46,21.0,6.0,0.0,2.0,-
42,South Wales,724,5.0,4.0,-,64.0,22,492,4.0,151,28.0,9.0,0.0,4.0,-
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [184]:
# Merge number_crime with rate1000_crime
# Notes: 
# Population figures and household figures are from mid-2017 and rounded to 100
# Total recorded crime excludes fraud
# Unlawful driving is for death or serious injury
# Residential burglary for households was excluded
datafields = ['Area Name', 'Population figures', 'Household figures',
'Total recorded crime', 'Violence against the person', 'Homicide',
'Violence with injury', 'Violence without injury', 'Stalking and harassment',
'Unlawful driving', 'Sexual offences', 'Robbery',
'Theft offences', 'Burglary', 'Residential burglary',
'Non-residential burglary', 'Vehicle offences', 'Theft from the person',
'Bicycle theft', 'Shoplifting', 'Other theft offences',
'Criminal damage and arson', 'Drug offences', 'Possession of weapons offences',
'Public order offences', 'Miscellaneous crimes']

crime_df = pd.DataFrame(columns = datafields)

def merge_col(name, rate1000_name='', number_name='', both_name=''):
    if both_name != '':
        rate1000_name = both_name
        number_name = both_name
        
    if rate1000_name == '':
        rate1000_name = name
    if number_name == '':
        number_name = name
    crime_df[name] = number_crime[number_name]
    
merge_col('Area Name')
crime_df['Population figures'] = rate1000_crime.iloc[:, 1]
crime_df['Population figures'][44:] = np.NaN
crime_df['Household figures'] = rate1000_crime.iloc[:, 1]
crime_df['Household figures'][44:] = np.NaN
merge_col('Total recorded crime', number_name='Total recorded crime (excluding fraud)', rate1000_name = 'Total recorded crime (excluding fraud5)')
merge_col('Violence against the person')
merge_col('Homicide')
merge_col('Violence with injury')
merge_col('Violence without injury')
merge_col('Stalking and harassment', 'Stalking\nand harassment')
merge_col('Unlawful driving', both_name='Death or serious injury - unlawful driving')
merge_col('Sexual offences')
merge_col('Robbery')
merge_col('Theft offences')
merge_col('Burglary')
merge_col('Residential burglary', rate1000_name = 'Residential burglary6,7,8')
merge_col('Non-residential burglary', number_name='Non-residential  burglary', rate1000_name='Non-residential burglary7,8')
merge_col('Vehicle offences')
merge_col('Theft from the person')
merge_col('Bicycle theft')
merge_col('Shoplifting')
merge_col('Other theft offences', rate1000_name='All other theft offences')
merge_col('Criminal damage and arson')
merge_col('Drug offences')
merge_col('Possession of weapons offences')
merge_col('Public order offences')
merge_col('Miscellaneous crimes', number_name='Miscellaneous crimes', rate1000_name='Miscellaneous crimes against society')
crime_df.reset_index()

,index,Area Name,Population figures,Household figures,Total recorded crime,Violence against the person,Homicide,Violence with injury,Violence without injury,Stalking and harassment,...,Vehicle offences,Theft from the person,Bicycle theft,Shoplifting,Other theft offences,Criminal damage and arson,Drug offences,Possession of weapons offences,Public order offences,Miscellaneous crimes
0,0,Cleveland,"566,200","566,200","65,397","20,109",15,"5,858","7,474","6,754",...,"4,333",510,993,"8,867","6,349","9,370","1,298",377,"3,836","1,372"
1,1,Durham,"630,000","630,000","62,393","23,908",5,"5,738","8,335","9,817",...,"3,255",285,474,"4,862","5,357","9,585","1,269",290,"5,141","1,735"
2,2,Northumbria,"1,448,600","1,448,600","160,292","47,904",11,"13,352","19,982","14,522",...,"8,406","1,421","2,027","14,081","16,832","22,742","3,344","1,392","23,401","3,728"
3,3,Cheshire,"1,054,100","1,054,100","94,201","32,600",19,"10,590","12,892","9,095",...,"3,652",635,"1,577","7,084","7,712","10,162","2,180",532,"17,976","1,842"
4,4,Cumbria,"498,400","498,400","35,372","13,244",4,"4,860","5,472","2,903",...,"1,174",197,296,"2,899","3,210","5,458","1,022",252,"3,084",717
5,5,Greater Manchester,"2,798,800","2,798,800","334,976","97,236",78,"28,581","45,640","22,905",...,"31,669","7,351","4,061","17,352","32,096","35,821","4,981","3,542","45,151","8,262"
6,6,Lancashire,"1,490,500","1,490,500","162,819","62,273",21,"19,920","23,040","19,287",...,"10,078","2,000","1,698","9,476","16,378","20,238","2,342",701,"14,938","3,241"
7,7,Merseyside,"1,416,800","1,416,800","134,164","43,752",21,"14,398","17,163","12,151",...,"10,382","2,146","1,890","8,645","10,633","16,328","8,181","1,033","12,689","2,752"
8,8,Humberside,"929,900","929,900","98,311","32,747",17,"10,979","12,939","8,791",...,"5,795",702,"2,246","10,356","8,460","12,809","1,374",509,"8,395","2,429"
9,9,North Yorkshire,"819,800","819,800","43,762","13,729",5,"5,469","5,478","2,741",...,"2,460",483,"1,177","4,448","4,706","5,993","1,563",309,"2,210",812
10,10,South Yorkshire,"1,393,400","1,393,400","142,739","43,718",19,"14,291","13,108","16,273",...,"12,607","2,086","1,163","10,834","14,326","18,045","2,490","1,377","12,632","3,837"
11,11,West Yorkshire,"2,307,000","2,307,000","291,573","102,172",39,"29,214","42,901","29,967",...,"24,422","4,145","2,465","18,714","25,639","31,094","6,303","2,314","28,213","7,461"
12,12,Derbyshire,"1,049,000","1,049,000","59,162","16,562",4,"9,390","4,650","2,516",...,"5,465",706,"1,030","5,851","6,472","7,872","2,237",593,"2,225","1,241"
13,13,Leicestershire,"1,083,200","1,083,200","87,167","25,327",10,"6,840","12,234","6,231",...,"9,347","1,232","2,124","6,647","9,234","10,300","1,867",740,"6,638","1,923"
14,14,Lincolnshire,"751,200","751,200","48,582","14,822",5,"5,716","6,220","2,873",...,"3,030",284,"1,038","5,524","5,058","6,084","1,778",525,"2,767","1,095"
15,15,Northamptonshire,"741,200","741,200","58,632","18,973",12,"7,206","8,596","3,157",...,"7,466",595,902,"4,104","5,630","6,619","1,577",614,"2,249","1,118"
16,16,Nottinghamshire,"1,147,100","1,147,100","104,112","30,954",14,"13,601","9,475","7,857",...,"9,153","1,401","1,904","10,983","11,511","12,129","3,259",954,"6,807","2,370"
17,17,Staffordshire,"1,126,200","1,126,200","84,765","30,743",9,"10,886","10,766","9,069",...,"5,668",484,"1,233","7,414","9,238","10,971","1,816",801,"4,258","1,888"
18,18,Warwickshire,"564,600","564,600","41,304","12,833",6,"4,440","5,308","3,075",...,"4,907",462,729,"3,422","4,416","4,520",839,412,"2,194",723
19,19,West Mercia,"1,272,600","1,272,600","84,554","29,801",15,"9,778","12,263","7,717",...,"5,623",911,"1,122","7,713","9,052","10,037","2,024",809,"4,249","1,515"
20,20,West Midlands,"2,897,300","2,897,300","252,689","70,507",50,"30,561","24,861","15,002",...,"37,250","3,230","3,058","18,774","24,763","25,695","4,558","2,281","13,918","3,682"
21,21,Bedfordshire,"664,600","664,600","55,173","14,666",7,"4,833","6,242","3,569",...,"7,722",774,"1,296","3,966","5,466","6,101","1,343",415,"3,601",975
22,22,Cambridgeshire,"847,200","847,200","63,678","17,019",11,"5,081","8,950","2,953",...,"6,084","1,015","4,228","5,041","7,315","7,491","1,325",534,"4,177","1,330"
23,23,Essex,"1,820,400","1,820,400","151,103","52,611",13,"14,316","20,074","18,166",...,"15,204","1,529","2,254","10,721","13,579","15,910","3,743","2,099","12,222","3,285"
24,24,Hertfordshire,"1,180,900","1,180,900","85,371","25,066",13,"8,726","11,253","5,047",...,"9,059","1,380","1,444","8,607","8,775","9,216","3,148",715,"6,466","1,777"
25,25,Norfolk,"898,400","898,400","58,972","21,006",6,"6,876","9,990","4,120",...,"2,778",500,"1,242","4,151","5,639","7,083","2,300",580,"5,496","1,675"
26,26,Suffolk,"757,000","757,000","54,124","18,726",7,"5,637","8,286","4,790",...,"3,620",553,"1,116","4,148","4,729","6,520","1,290",450,"5,075","1,064"
27,27,City of London,"7,700","7,700","6,921","1,150",1,461,524,164,...,246,683,455,902,"1,680",232,425,72,412,129
28,28,Metropolitan Police,"8,817,300","8,817,300","835,078","210,644",140,"76,904","84,909","48,642",...,"112,655","42,850","19,487","43,743","114,092","56,537","35,474","7,401","48,281","9,876"
29,29,Hampshire,"1,978,800","1,978,800","159,487","55,319",14,"21,387","24,199","9,695",...,"12,760","1,272","3,815","12,969","13,559","18,549","3,682","1,621","14,894","2,650"
30,30,Kent,"1,832,300","1,832,300","197,085","77,559",17,"20,522","35,995","20,958",...,"12,993","1,063","1,744","12,700","16,994","22,359","3,043","1,335","21,115","5,305"
31,31,Surrey,"1,185,300","1,185,300","74,745","22,558",1,"7,198","10,376","4,964",...,"6,273",565,"1,237","4,347","9,080","9,457","2,853",585,"7,526","1,564"
32,32,Sussex,"1,692,800","1,692,800","114,049","37,795",30,"13,676","16,950","7,125",...,"8,251","1,490","2,204","7,983","12,608","13,767","3,483","1,598","10,203","2,283"
33,33,Thames Valley,"2,391,700","2,391,700","162,070","46,311",17,"15,711","22,168","8,396",...,"17,093","2,965","5,581","14,256","20,782","19,104","5,065","1,419","6,848","3,308"
34,34,Avon and Somerset,"1,695,000","1,695,000","135,955","42,450",15,"12,804","17,830","11,798",...,"10,606","1,132","3,420","10,663","13,592","15,487","2,876",782,"17,450","1,779"
35,35,Devon and Cornwall,"1,749,100","1,749,100","106,616","40,929",19,"15,662","15,097","10,110",...,"5,769",844,911,"7,725","10,742","14,527","3,982",932,"7,151","2,195"
36,36,Dorset,"770,700","770,700","53,099","17,950",3,"6,186","7,667","4,087",...,"3,812",493,"1,360","4,046","6,417","6,861","1,609",323,"3,003",682
37,37,Gloucestershire,"628,100","628,100","35,292","9,443",8,"5,173","2,251","2,004",...,"4,084",395,980,"3,373","3,865","4,456",959,246,"1,413",442
38,38,Wiltshire,"716,400","716,400","42,483","13,925",2,"5,701","5,840","2,380",...,"2,895",347,826,"4,300","4,479","5,709","1,044",305,"2,710",737
39,39,Dyfed-Powys,"516,800","516,800","26,694","9,780",5,"3,039","4,016","2,720",...,902,79,159,"1,938","3,089","4,042","1,816",179,"1,651",557
40,40,Gwent,"587,700","587,700","56,497","18,971",4,"5,753","7,140","6,071",...,"3,338",364,369,"3,633","4,742","9,121","1,390",214,"7,621","1,362"
41,41,North Wales,"696,300","696,300","58,184","23,239",6,"7,076","10,061","6,094",...,"2,214",205,543,"4,204","5,131","7,586","1,352",331,"5,018","1,262"
42,42,South Wales,"1,324,400","1,324,400","108,729","35,454",12,"12,143","11,540","11,741",...,"7,774","1,089","2,025","10,495","10,183","12,787","4,197",667,"11,238","2,099"

In [185]:
print(len(crime_df['Area Name'].unique()))
crime_df[crime_df['Area Name'] == 'Hampshire']

43

,Area Name,Population figures,Household figures,Total recorded crime,Violence against the person,Homicide,Violence with injury,Violence without injury,Stalking and harassment,Unlawful driving,...,Vehicle offences,Theft from the person,Bicycle theft,Shoplifting,Other theft offences,Criminal damage and arson,Drug offences,Possession of weapons offences,Public order offences,Miscellaneous crimes
29,Hampshire,"1,978,800","1,978,800","159,487","55,319",14,"21,387","24,199","9,695",24,...,"12,760","1,272","3,815","12,969","13,559","18,549","3,682","1,621","14,894","2,650"